<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express basics</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>About Jeff Bezos</h1>
    <h2></h2>

    <p>Jeff Bezos quit his job at an investment bank in 1994 and moved to Seattle, Washington, to open a virtual bookstore. Working out of his garage with a handful of employees, Bezos began developing the software for the site, which he called Amazon.com. It sold its first book in 1995.

    </p>

<nav>
  <ul>
      <li><a href="/">Home</a></li>

  </ul>
</nav>

</body>
</html>

