<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express basics</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Jeff Bezos</h1>
    <h2>Entrepreneur and founder of Amazon</h2>

    <p>Jeff Bezos is an American entrepreneur who played a key role in the growth of e-commerce as the founder and chief executive officer of Amazon.com, an online retailer. In 2020 he had a net worth of more than $180 billion.</p>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/works">Works</a></li>
    <li><a href="/gallery">Gallery</a></li>
  </ul>
</nav>

</body>
</html>



