<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express basics</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Jeff Bezos Works</h1>

    <h3>Founder and executive chairman of Amazon.</h3>
    <h3>Founder of Blue Origin.</h3>
    <h3>Owner of The Washington Post.</h3>
    <h3>Founder of Bezos Expeditions.</h3>
    <h3>Executive Chair of Bezos Earth Fund.</h3>
    <h3>Founder of Bezos Academy </h3>

<nav>
  <ul>
      <li><a href="/">Home</a></li>

  </ul>
</nav>

</body>
</html>